.footer {
    /* position: relative; */
    bottom: 0%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* To ensure footer is at the bottom of the page */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1; /* This will make sure the main content takes up the remaining space */
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}